---
import Card from '../components/Card.astro'
const style="bg"
---

<style>
    .bg {
        border-radius: 1083px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(163, 45, 255, 0.08) 0%, rgba(206, 58, 242, 0.00) 100%);
           }
</style>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
        <title>
            Design Community
        </title>
    </head>
    <body>
        <div class="bg-[#151414] h-[100vh] w-[100vw]">
            <div class="bg flex flex-col items-center pt-20">
            <h1 class="text-6xl font-bold font-dancingscript text-[#F19324] mb-6">Design Community</h1>
            <h1 class="text-lg font-regular text-[#F19324]">Inviting all the design enthusiasts to learn, teach and explore</h1>
        </div>  
        <div class="flex flex-row iteme-center justify-center gap-5 mt-14 flex-wrap px-20">
            <a href="/designgallery/"><Card title="Artboard"/></a>
            <Card title="Resources"/>
            <Card title="Articles & Books"/>
            <Card title="Coming Soon"/>
        </div></div>
    </body>
</html>

